:root {
    --brutal-blue: #5D3FD3;
    --brutal-yellow: #FFD700;
    --brutal-orange: #FF9000;
    --brutal-red: #ff3232;
    --brutal-green: #3AC28B;
    --brutal-purple: #BA55D3;
    --brutal-black: #000;
    --brutal-white: #fff;

    --border-size: 4px;
    --border: var(--border-size) solid var(--color-border);
    --border-radius: 0.5em;
    --box-shadow: 0.2em 0.2em 0 var(--color-border);
    --horizontal-padding: 10vw;
    --vertical-padding: 2vh;
    --padding: var(--vertical-padding) var(--horizontal-padding);
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    background-color: var(--background);
    color: var(--color-font);
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding: 0;
    transition: background-color 1s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    transition: color 1s ease-out;
}

h1 {
    font-size: calc(var(--vw) * 12);
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;
    width: fit-content;
}

* {
    box-sizing: border-box;
}
