@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Add font-display property */
}

/* Include other font weights and styles if needed */

body {
  background: black;
  overflow: hidden;
  color: white;
}
