@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Add font-display property */
}

/* Include other font weights and styles if needed */

body {
  background: black;
  overflow: hidden;
  color: white;
}


@keyframes rainbow {
  0% { color: #696AFF; }
  20% { color: #E733FF ; }
  40% { color: #FE2396; }
  60% { color: #FF6F64; }
  80% { color: #FF8E2D; }
  100% { color: #FFD525; }
}

.rainbow-text {
  animation: rainbow 2.5s infinite ease-in-out alternate;
  background-image: linear-gradient(to right, #696AFF, #E733FF, #FE2396, #FF6F64, #FF8E2D, #FFD525);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}