.word {
    display: flex;
    flex-flow: row nowrap;
    font-size: calc(var(--vh) + var(--vw) * 16);
    font-weight: bold;
    line-height: calc(var(--vh) + var(--vw) * 16);
    overflow: hidden;
    text-transform: uppercase;
    transition: color 1s ease-out;
    user-select: none;
}

.word .delimeter {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px var(--color-font-contrast);
}

.word .letter {
    position: relative;
}
