.about {
    padding: 6em var(--horizontal-padding);
    position: relative;
}

.about .cards {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.about .cards p {
    padding: 0 1em;
}
