@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2a2a2a;
}

::-webkit-scrollbar-thumb {
  background: #a4e7cf;
}

::-webkit-scrollbar-thumb:hover {
  background: #26E8A0;
}
/* Scrollbar style end */


html {
  scroll-behavior: smooth !important;
}

@layer base{
  body {
    @apply bg-[#181818] text-white tracking-wide;
    font-family: Dystopian, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply rounded-xl uppercase bg-[#F17554] text-white;
  }
}